.container{
    text-align: center;
}
.title{
  margin-top: 40px;
  font-size: 40px;
  margin-bottom: 20px;
 }
 .title span{
    color: #26ffcb;
 }
 .reset{
    margin-top: 20px;
    background: #1f3540;
    padding: 20px 50px;
    color: #26ffcb;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 26px;
 }
 
 .boxes{
    background: #1f3540;
    height: 140px;
    width: 140px;
    border: 4px solid #0f1b21;
    cursor: pointer;
    border-radius: 12px;
 }
 .board{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxes img{
    margin: 30px 30px;
   
 }
 .title img{
   padding: 10px;
   margin-bottom: -20px;
    height: 50px;
    align-items: center;

 }